*{  
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

img{
    height: 400px;
    width:400px;
    border: solid black 2px;

}

body{
    background-image: url('../images/background.png')
}

#time{
    font-family: 'Roboto', sans-serif;
    font-size:28px;
}

#main{
    padding: 10px;
    background-color: palegoldenrod;
    margin: 100px;
    border: rgb(48, 46, 29) solid 2px;
}

#question{
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    
}

.choice{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    text-align: left;
    margin: 12px;
}

:hover.choice{
    background-color: palegoldenrod;
}

#answerbox{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 10px;
    background-color: rgb(134, 149, 192);
    border: rgb(48, 46, 29) solid 2px;

}

#title{
    font-family: 'Roboto', sans-serif;
    font-size: 54px;
    font-weight: bold;
    text-decoration: underline;
}

#correct{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

#restart{
    font-size: 36px;
    padding: 10px;
    margin: 10px;
    background-color: palegoldenrod;
}

:hover#restart{
    background-color: rgb(136, 25, 17);
}